{% load static %}
{% include 'header.html' %}

<body>
        <!-- Left Panel -->

        
    <!-- Left Panel -->

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

       

        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Option Change List</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <!-- <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Table</a></li>
                            <li class="active">Data table</li>
                        </ol>
                    </div> -->
                </div>
            </div>
        </div>

        <div class="content mt-3" style="font-size: 10px;">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title">Data Table</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row ">
                    <div class="col-md-4 ">
                        <div class="row border border-dark ">
                            <div class="col-md-3">NIFTY</div>
                            <div class="col-md-3">18696</div>
                            <div class="col-md-3">-116</div>
                            <div class="col-md-3">-0.62%</div>

                            <div class="col-md-3">BANK_NIFTY</div>
                            <div class="col-md-3">43104</div>
                            <div class="col-md-3">-157</div>
                            <div class="col-md-3">-0.36%</div>
                            
                            <div class="col-md-3">INDIA_VIX</div>
                            <div class="col-md-3">14</div>
                            <div class="col-md-3">0</div>
                            <div class="col-md-3">0.00%</div>
                            
                            <div class="col-md-3">SGX </div>
                            <div class="col-md-3">18,855</div>
                            <div class="col-md-3">30.5</div>
                            <div class="col-md-3">0.16%</div>
                            
                            <div class="col-md-3">Strike Price 18,600</div>
                            <div class="col-md-3">0</div>
                            <div class="col-md-3">0</div>
                            <div class="col-md-3">0</div>
                        </div>
                    </div>
                    <div class="col-md-8 border border-dark">
                        <div class="row">
                            <div class="col-md-2">SP</div>
                            <div class="col-md-2">NET OI CHANGE</div>
                            <div class="col-md-2">NET OI</div>
                            <div class="col-md-2">CALL VOLUME</div>
                            <div class="col-md-1">PUT VOLUME</div>
                            <div class="col-md-1">SUPPORT STRENGTH</div>
                            <div class="col-md-1">RESISITANCE STRENGTH</div>
                            <div class="col-md-1">SP</div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">18100</div>
                            <div class="col-md-2">410600</div>
                            <div class="col-md-2">4131050</div>
                            <div class="col-md-2">196850</div>
                            <div class="col-md-1">25597150</div>
                            <div class="col-md-1">35.2</div>
                            <div class="col-md-1">0</div>
                            <div class="col-md-1">18000</div>
                        </div>   
                        <div class="row">
                            <div class="col-md-2">18100</div>
                            <div class="col-md-2">314400</div>
                            <div class="col-md-2">1792250</div>
                            <div class="col-md-2"> 21950</div>
                            <div class="col-md-1">13731150</div>
                            <div class="col-md-1">59.7</div>
                            <div class="col-md-1">0</div>
                            <div class="col-md-1">18100</div>
                        </div>  
                        <div class="row">
                            <div class="col-md-2">18100</div>
                            <div class="col-md-2">410600</div>
                            <div class="col-md-2">4131050</div>
                            <div class="col-md-2"> 196850</div>
                            <div class="col-md-1">25597150</div>
                            <div class="col-md-1">35.2</div>
                            <div class="col-md-1">0</div>
                            <div class="col-md-1">18000</div>
                        </div>  
                        
                    </div>
                    <!-- <div class="col-md-3 border border-dark">    
                        <div class="row">
                            <div class="col-md-4">NIFTY_POSSIBLE OPENING</div>
                            <div class="col-md-4">7-DEC-22</div>
                            <div class="col-md-4">SENTIMENT</div>
                        </div>   
                        <div class="row">
                            <div class="col-md-3">NIFTY_CLOSE PRICE</div>
                            <div class="col-md-2">18618</div>
                            <div class="col-md-2">SGX</div>
                            <div class="col-md-3">POSITIVE</div>
                        </div> 
                    </div>     -->
                        
                </div>
            </div> 

        </div><!-- .content -->


    </div><!-- /#right-panel -->

    <!-- Right Panel -->

{% include 'footer.html' %}
</html>
