{% load static %}
<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">

        <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="home"><img src="{% static 'images/logo.png' %}" alt="Logo"></a>
            <a class="navbar-brand hidden" href="./"><img src="{% static 'images/logo2.png' %}" alt="Logo"></a>
        </div>

        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="profile"> <i class="menu-icon fa fa-th"></i>Profile </a>
                </li>
                
                <li>
                    <a href="plan"> <i class="menu-icon fa fa-th"></i>Plans</a> 
                </li>

                <li>
                    <a href="plan"> <i class="menu-icon fa fa-th"></i>Nifty</a> 
                </li>
                <li>
                    <a href="plan"> <i class="menu-icon fa fa-th"></i>Bank Nifty</a> 
                </li>
                <li>
                    <a href="plan"> <i class="menu-icon fa fa-th"></i>Option Change</a> 
                </li>
                <li>
                    <a href="logout"><i class="menu-icon fa fa-th"></i> Logout</a>
                </li>     
                 
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</aside><!-- /#left-panel -->